.article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
    margin-bottom: 20px;

}
.article > * {
    grid-column: 4;
}

.figure {
    grid-column: 2 / 3;
    grid-row: 2 / 4; 
    margin: 20px 0;
}

.article > p {
    text-align:left;
}

.article > h3 {
     margin-top: 5px;
    margin-bottom: 15px;
}

.date{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: right;
}
.aside {
    grid-column: 5;
}